[run]
omit =
    .venv/*
    */__pycache__/*
    */test_*.py
    conftest.py
    mocks/*
    run_tests.py
    web/__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
